---
import type {Playlist} from '../lib/data.ts'

interface Props {
  playlist:Playlist
}


 const {playlist} = Astro.props

 const {id,cover,title,artists,color} = playlist


const artistsString = artists.join(', ')
---

<a href={`playlist/${id}`}
  class="playlist-item flex text-zinc-200 relative p-2 overflow-hidden items-center gap-5 rounded-md hover:bg-zinc-500"

>
<picture class="w-12 h-12 flex-none">
<img src={cover} alt={`Cover of ${title}`}>
  </picture>

  <div class="flex flex-auto flex-col truncate">
  <h4>{title}</h4>
    <p class="text-xs">{artistsString}</p>
  </div>
</a>
